@use '../../../styles/extends' as *;

.ncos-text {
	color: var(--ncos-colour-sys-on-surface-alt);

	// Matching HTML tags.
	&--tag {

		// So, this is <h1>, etc...
		&-h1 {
			@extend %text-style-display;

			color: var(--ncos-colour-sys-on-surface);
		}

		&-h2 {
			@extend %text-style-heading-2xl;

			color: var(--ncos-colour-sys-on-surface);
		}

		&-h3 {
			@extend %text-style-heading-xl;

			color: var(--ncos-colour-sys-on-surface);
		}

		&-h4 {
			@extend %text-style-heading-lg;

			color: var(--ncos-colour-sys-on-surface);
		}

		&-h5 {
			@extend %text-style-heading-md;

			color: var(--ncos-colour-sys-on-surface);
		}

		&-h6 {
			@extend %text-style-heading-sm;

			color: var(--ncos-colour-sys-on-surface);
		}

		&-p {
			@extend %text-style-body-lg;
		}

		&-label {
			@extend %text-style-label;
		}
	}

	// Matching text style tokens.
	&--preset {

		// So, this is text-style-display, etc...
		&-display {
			@extend %text-style-display;
		}

		&-heading-2xl {
			@extend %text-style-heading-2xl;
		}

		&-heading-xl {
			@extend %text-style-heading-xl;
		}

		&-heading-lg {
			@extend %text-style-heading-lg;
		}

		&-heading-md {
			@extend %text-style-heading-md;
		}

		&-heading-sm {
			@extend %text-style-heading-sm;
		}

		&-body-lg {
			@extend %text-style-body-lg;
		}

		&-body-md {
			@extend %text-style-body-md;
		}

		&-body-sm {
			@extend %text-style-body-sm;
		}

		&-label {
			@extend %text-style-label;
		}
	}

	a {
		font: inherit;
		color: var(--ncos-colour-sys-primary);
		text-decoration: underline;

		&:hover {
			color: var(--ncos-colour-sys-on-primary-container);
		}
	}

	strong {
		font: inherit;
		font-weight: 700;
	}

	.anchor {
		text-decoration: none;

		@media (min-width: 900px) {
			width: 40px;
			position: absolute;
			left: -48px;
			text-align: right;
		}
	}

}