@use '@/styles/tokens' as *;

.text {
  // Alignment modifiers
  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }
}
