@use '@/styles/tokens' as *;

.button {
  // Add your button variants here
  // Example:
  // &--variant-primary {
  //   background-color: $color-button-primary-bg;
  //   color: $color-button-primary-text;
  //
  //   &:hover {
  //     background-color: $color-button-primary-hover;
  //   }
  // }
}
