$ncos-spacing-01: 2px;
$ncos-spacing-02: 4px;
$ncos-spacing-03: 8px;
$ncos-spacing-04: 12px;
$ncos-spacing-05: 16px;
$ncos-spacing-06: 24px;
$ncos-spacing-07: 32px;
$ncos-spacing-08: 40px;
$ncos-spacing-09: 48px;
$ncos-spacing-10: 64px;
$ncos-spacing-11: 80px;
$ncos-spacing-12: 96px;
$ncos-spacing-13: 160px;