%text-style-display-large {
    font-family: var(--ncos-font-family-display);
    font-size: var(--ncos-font-size-xxxx-large);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing-densest);
    line-height: var(--ncos-line-height);
}

%text-style-display-small {
    font-family: var(--ncos-font-family-display);
    font-size: var(--ncos-font-size-xxx-large);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing-dense);
    line-height: var(--ncos-line-height);
}

%text-style-heading-1 {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-x-large);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing-dense);
    line-height: var(--ncos-line-height);
}

%text-style-heading-2 {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-large);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing);
    line-height: var(--ncos-line-height);
}

%text-style-heading-3 {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-medium);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing);
    line-height: var(--ncos-line-height);
}

%text-style-heading-4 {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-floor);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing);
    line-height: var(--ncos-line-height);
}

%text-style-heading-5 {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-small);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing);
    line-height: var(--ncos-line-height);
}

%text-style-heading-6 {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-x-small);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing);
    line-height: var(--ncos-line-height);
}

%text-style-body-large {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-floor);
    font-weight: var(--ncos-font-weight-regular);
    letter-spacing: var(--ncos-letter-spacing);
    line-height: var(--ncos-line-height);
}

%text-style-body-small {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-small);
    font-weight: var(--ncos-font-weight-regular);
    letter-spacing: var(--ncos-letter-spacing);
    line-height: var(--ncos-line-height);
}

%text-style-caption {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-xx-small);
    font-weight: var(--ncos-font-weight-regular);
    letter-spacing: var(--ncos-letter-spacing);
    line-height: var(--ncos-line-height);
}

%text-style-label-large {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-large);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing-denser);
    line-height: var(--ncos-line-height);
}

%text-style-label-small {
    font-family: var(--ncos-font-family-body);
    font-size: var(--ncos-font-size-floor);
    font-weight: var(--ncos-font-weight-bold);
    letter-spacing: var(--ncos-letter-spacing-denser);
    line-height: var(--ncos-line-height);
}