// Temporary variables until we introduce global vars or mixins.
$bp-medium: 768px;
$bp-large: 1200px;

%text-style-display {
    font-family: var(--ncos-text-display-small-font-family);
    font-size: var(--ncos-text-display-small-font-size);
    font-weight: var(--ncos-text-display-small-font-weight);
    letter-spacing: var(--ncos-text-display-small-font-leter-spacing);
    line-height: var(--ncos-text-display-small-font-line-height);

    @media screen and (min-width: $bp-medium) {
        font-family: var(--ncos-text-display-medium-font-family);
        font-size: var(--ncos-text-display-medium-font-size);
        font-weight: var(--ncos-text-display-medium-font-weight);
        letter-spacing: var(--ncos-text-display-medium-font-leter-spacing);
        line-height: var(--ncos-text-display-medium-font-line-height);
    }

    @media screen and (min-width: $bp-large) {
        font-family: var(--ncos-text-display-large-font-family);
        font-size: var(--ncos-text-display-large-font-size);
        font-weight: var(--ncos-text-display-large-font-weight);
        letter-spacing: var(--ncos-text-display-large-font-leter-spacing);
        line-height: var(--ncos-text-display-large-font-line-height);
    }
}

%text-style-heading-2xl {
    font-family: var(--ncos-text-display-small-font-family);
    font-size: var(--ncos-text-display-small-font-size);
    font-weight: var(--ncos-text-display-small-font-weight);
    letter-spacing: var(--ncos-text-display-small-font-leter-spacing);
    line-height: var(--ncos-text-display-small-font-line-height);

    @media screen and (min-width: $bp-medium) {
        font-family: var(--ncos-text-display-medium-font-family);
        font-size: var(--ncos-text-display-medium-font-size);
        font-weight: var(--ncos-text-display-medium-font-weight);
        letter-spacing: var(--ncos-text-display-medium-font-leter-spacing);
        line-height: var(--ncos-text-display-medium-font-line-height);
    }

    @media screen and (min-width: $bp-large) {
        font-family: var(--ncos-text-heading-2xl-large-font-family);
        font-size: var(--ncos-text-heading-2xl-large-font-size);
        font-weight: var(--ncos-text-heading-2xl-large-font-weight);
        letter-spacing: var(--ncos-text-heading-2xl-large-font-letter-spacing);
        line-height: var(--ncos-text-heading-2xl-large-font-line-height);
    }
}

%text-style-body-lg {
    font-family: var(--ncos-text-body-lg-small-font-family);
    font-size: var(--ncos-text-body-lg-small-font-size);
    font-weight: var(--ncos-text-body-lg-small-font-weight);
    letter-spacing: var(--ncos-text-body-lg-small-font-letter-spacing);
    line-height: var(--ncos-text-body-lg-small-font-line-height);

    @media screen and (min-width: $bp-medium) {
        font-family: var(--ncos-text-body-lg-medium-font-family);
        font-size: var(--ncos-text-body-lg-medium-font-size);
        font-weight: var(--ncos-text-body-lg-medium-font-weight);
        letter-spacing: var(--ncos-text-body-lg-medium-font-letter-spacing);
        line-height: var(--ncos-text-body-lg-medium-font-line-height);
    }

    @media screen and (min-width: $bp-large) {
        font-family: var(--ncos-text-body-lg-large-font-family);
        font-size: var(--ncos-text-body-lg-large-font-size);
        font-weight: var(--ncos-text-body-lg-large-font-weight);
        letter-spacing: var(--ncos-text-body-lg-large-font-letter-spacing);
        line-height: var(--ncos-text-body-lg-large-font-line-height);
    }
}