@use '../tokens' as *;
@use '../extends' as *;

article {
    max-width: 750px;
    margin: 0 auto;

    header {
        padding: 32px 0px;

        >*:not(:first-child) {
            margin-top: 32px;
        }
    }

    h2, h3 {
        margin-top: 48px;
    }

    h4, h5, h6 {
        margin-top: 40px;
    }

    p {
        margin-top: 32px;
    }

    *:first-child {
        margin: 0;
    }

}