article {
    max-width: 28em;
    margin: 0 auto;
    padding: var(--ncos-spacing-x4) 0px;

    header {
        margin-bottom: var(--ncos-spacing-x4);

        >*:not(:first-child) {
            margin-top: var(--ncos-spacing-x4);
        }
    }

    h1 {
        position: relative;

        &:before {
            width: 8px;
            height: 100%;

            content: '';
            display: block;
            
            position: absolute;
            left: -32px;
            top: 0;

            background: var(--ncos-colour-sys-primary);
        }
    }

    h2, h3 {
        margin-top: var(--ncos-spacing-x6);
    }

    h4, h5, h6 {
        margin-top: var(--ncos-spacing-x5);
    }

    p {
        margin-top: var(--ncos-spacing-x4);
    }

    *:not(header):first-child {
        margin: 0;
    }

    figure {
        margin-top: var(--ncos-spacing-x4);

        @media (min-width: 1100px) {
            margin-left: -128px;
            margin-right: -128px;
        }
    }

    ul {
        margin-top: var(--ncos-spacing-x4);
    }

    .footnote {
        margin-top: var(--ncos-spacing-x4);
        padding-top: var(--ncos-spacing-x4);
        border-top: 1px solid var(--ncos-colour-sys-outline-alt);
    }

}