article {
    max-width: 750px;
    margin: 0 auto;

    header {
        padding: var(--ncos-spacing-x4) 0px;

        >*:not(:first-child) {
            margin-top: var(--ncos-spacing-x4);
        }
    }

    h2, h3 {
        margin-top: var(--ncos-spacing-x6);
    }

    h4, h5, h6 {
        margin-top: var(--ncos-spacing-x5);
    }

    p {
        margin-top: var(--ncos-spacing-x4);
    }

    *:first-child {
        margin: 0;
    }

}