article {
    max-width: 750px;
    margin: 0 auto;

    header {
        padding: var(--ncos-spacing-x4) 0px;

        >*:not(:first-child) {
            margin-top: var(--ncos-spacing-x4);
        }
    }

    h1 {
        position: relative;

        &:before {
            width: 8px;
            height: 100%;

            content: '';
            display: block;
            
            position: absolute;
            left: -32px;
            top: 0;

            background: var(--ncos-colour-sys-primary);
        }
    }

    h2, h3 {
        margin-top: var(--ncos-spacing-x6);
    }

    h4, h5, h6 {
        margin-top: var(--ncos-spacing-x5);
    }

    p {
        margin-top: var(--ncos-spacing-x4);
    }

    *:first-child {
        margin: 0;
    }

    figure {
        margin-top: 32px;

        @media (min-width: 1100px) {
            margin-left: -128px;
            margin-right: -128px;
        }
    }

}