// ============================================================================
// Base - Default HTML element styles
// ============================================================================

@use '../extends' as *;

body {
	@extend %text-style-body-lg;
	
	color: var(--ncos-colour-sys-on-surface-alt);
	background: var(--ncos-colour-sys-surface);
}

article {
	max-width: 750px;
	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}