// ============================================================================
// Base - Default HTML element styles
// ============================================================================

@use '../extends' as *;

::selection {
	background: var(--ncos-colour-sys-primary-alt);
	color: var(--ncos-colour-sys-on-primary-alt);
}

body {
	@extend %text-style-body-large;
	
	color: var(--ncos-colour-sys-on-surface-alt);
	background: var(--ncos-colour-sys-surface);
	
	padding: 0px var(--ncos-spacing-x3);
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}