@use '../../../styles/extends' as *;

.ncos-text {
	color: var(--ncos-colour-sys-on-surface-alt);

	// Matching HTML tags - colors only.
	&--tag {

		&-h1,
		&-h2,
		&-h3,
		&-h4,
		&-h5,
		&-h6 {
			color: var(--ncos-colour-sys-on-surface);
		}
	}

	// Default typography for tags when no preset is specified.
	&--tag-h1:not([class*="--preset-"]) {
		@extend %text-style-heading-1;
	}

	&--tag-h2:not([class*="--preset-"]) {
		@extend %text-style-heading-2;
	}

	&--tag-h3:not([class*="--preset-"]) {
		@extend %text-style-heading-3;
	}

	&--tag-h4:not([class*="--preset-"]) {
		@extend %text-style-heading-4;
	}

	&--tag-h5:not([class*="--preset-"]) {
		@extend %text-style-heading-5;
	}

	&--tag-h6:not([class*="--preset-"]) {
		@extend %text-style-heading-6;
	}

	&--tag-p:not([class*="--preset-"]) {
		@extend %text-style-body-large;
	}

	&--tag-label:not([class*="--preset-"]) {
		@extend %text-style-label-large;
	}

	// Matching text style tokens.
	&--preset {

		&-display-large {
			@extend %text-style-display-large;
		}

		&-display-small {
			@extend %text-style-display-small;
		}

		&-heading-1 {
			@extend %text-style-heading-1;
		}

		&-heading-2 {
			@extend %text-style-heading-2;
		}

		&-heading-3 {
			@extend %text-style-heading-3;
		}

		&-heading-4 {
			@extend %text-style-heading-4;
		}

		&-heading-5 {
			@extend %text-style-heading-5;
		}

		&-heading-6 {
			@extend %text-style-heading-6;
		}

		&-body-large {
			@extend %text-style-body-large;
		}

		&-body-small {
			@extend %text-style-body-small;
		}

		&-caption {
			@extend %text-style-caption;
		}

		&-label-large {
			@extend %text-style-label-large;
		}

		&-label-small {
			@extend %text-style-label-small;
		}
	}

	a {
		font: inherit;
		color: var(--ncos-colour-sys-primary);
		text-decoration: underline;

		&:hover {
			color: var(--ncos-colour-sys-on-primary-container);
		}
	}

	strong {
		font: inherit;
		font-weight: 700;
	}

	em {
		font: inherit;
		font-style: italic;
	}

	.anchor {
		text-decoration: none;

		@media (min-width: 900px) {
			width: 40px;
			position: absolute;
			left: -48px;
			text-align: right;
		}
	}

	.external {
		width: 1em;
		height: 1em;
		margin-left: 0.2em;
		vertical-align: middle;
		margin-top: -0.2em;
	}

}