.archive {

    &__featured {
        background: var(--ncos-colour-sys-contrast-surface);
        padding-top: var(--ncos-spacing-medium);
	    padding-bottom: var(--ncos-spacing-medium);

        div {
            grid-column: -1 /1;
        }

        h1 {
            font-size: var(--ncos-font-size-xxx-large);
            line-height: var(--ncos-line-height-tight);
            color: var(--ncos-colour-sys-primary);
            max-width: 10em;
        }

        p {
            color: var(--ncos-colour-sys-on-contrast-surface);
            max-width: 35em;
        }

        h5 {
            color: var(--ncos-colour-sys-on-secondary-alt);
        }

        &__meta {
            flex-wrap: wrap;
            
            > * {
                flex-shrink: 0;
            }
        }
    }

    &__feed {
        padding-top: var(--ncos-spacing-medium);
	    padding-bottom: var(--ncos-spacing-medium);
        gap: var(--ncos-spacing-large);

        display: flex;
        flex-direction: column;

        @media screen and (min-width: 64em) {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        > div {
            grid-column: span 8;
        }

        > aside {
            grid-column: span 4;

            > div {
                @media screen and (min-width: 64em) {
                    position: sticky;
                    top: 0;
                }
            }
        }

        &--picks {
            background: var(--ncos-colour-sys-secondary-container);

            h5 {
                color: var(--ncos-colour-sys-secondary);
            }
        }

        &--latest {

            h5 {
                color: var(--ncos-colour-sys-primary);
            }
        }
    }
}