.ncos-stack {
  // Base stack (flexbox) styles
  display: flex;

  // Direction modifiers
  &--direction-row {
    flex-direction: row;
  }

  &--direction-column {
    flex-direction: column;
  }

  &--direction-rowReverse {
    flex-direction: row-reverse;
  }

  &--direction-columnReverse {
    flex-direction: column-reverse;
  }

  // Spacing modifiers (gap)
  &--spacing-xxxx-small {
    gap: var(--ncos-spacing-xxxx-small)
  }

  &--spacing-xxx-small {
    gap: var(--ncos-spacing-xxx-small);
  }

  &--spacing-xx-small {
    gap: var(--ncos-spacing-xx-small)
  }

  &--spacing-x-small {
    gap: var(--ncos-spacing-x-small);
  }

  &--spacing-small {
    gap: var(--ncos-spacing-small);
  }

  &--spacing-floor {
    gap: var(--ncos-spacing-floor);
  }

  &--spacing-medium {
    gap: var(--ncos-spacing-medium);
  }

  &--spacing-large {
    gap: var(--ncos-spacing-large);
  }

  &--spacing-x-large {
    gap: var(--ncos-spacing-x-large);
  }

  &--spacing-xx-large {
    gap: var(--ncos-spacing-xx-large);
  }

  &--spacing-xxx-large {
    gap: var(--ncos-spacing-xxx-large);
  }

  
  // Alignment modifiers
  &--align-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--align-stretch {
    align-items: stretch;
  }

  &--align-baseline {
    align-items: baseline;
  }

  // Justify modifiers
  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-around {
    justify-content: space-around;
  }

  &--justify-evenly {
    justify-content: space-evenly;
  }

  // Wrap modifiers
  &--noWrap {
    flex-wrap: nowrap;
  }
}
